
/*initial*/
@import 'folder_setting/setting'; // 変数関数定義
@import 'folder_setting/reset'; // リセット
@import 'folder_setting/layout'; // 全ページ共通レイアウト
@import 'folder_setting/parts'; // 全ページ共通パーツ
@import 'folder_page/admin'; // 管理者ページ用
