@charset "UTF-8";
/*initial*/
/*responsive*/
/*sitesize*/
/*color*/
/*margin*/
/*gradation*/
/*font*/
/*responsive*/
/*flex*/
.flex {
  display: flex;
}

.fw {
  flex-wrap: wrap;
}

.fc {
  flex-direction: column;
}

.fr {
  flex-direction: row-reverse;
}

.je {
  justify-content: flex-end;
}

.js {
  justify-content: space-between;
}

.jc {
  justify-content: center;
}

.ae {
  align-items: flex-end;
}

.as {
  align-items: flex-start;
}

.ac {
  align-items: center;
}

/*wrap*/
.wrap {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.wrap_s {
  max-width: 640px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.wrap_inner {
  max-width: 520px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

*, *:before, *:after {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio, video, span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: inherit;
  vertical-align: baseline;
  background: transparent;
  font-weight: inherit;
}

_:lang(x)::-ms-backdrop, body {
  font-family: "メイリオ", Meiryo, sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
}

img {
  font-size: 0;
  line-height: 0;
  max-width: 100%;
  vertical-align: bottom;
}

ins {
  background-color: #ff9;
  color: #111;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #111;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/*body*
*******************************/
body {
  color: #2e2c2a;
  line-height: 1.6;
  font-size: 14px;
  letter-spacing: 0.02em;
  font-family: a-otf-gothic-bbb-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#app {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
}

/*header*
*******************************/
#header {
  width: 100%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  background-color: #fff;
  border-bottom: 1px solid #ededed;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header.border {
  border-bottom: 1px solid #ededed;
}
#header.border + #contentWrap {
  margin-top: 30px;
}
#header .logo {
  max-width: 140px;
  width: 34%;
  position: relative;
  z-index: 11;
}
#header .txtTitle {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 1.4em;
  line-height: 1.4;
}
#header .txtTitle span {
  display: block;
  font-size: 0.8rem;
  font-family: a-otf-gothic-bbb-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #aaaaaa;
}
#header .back {
  display: block;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: url("/storage/icon/icon_left_circle_pi.png") no-repeat center/76%;
  overflow: hidden;
  text-indent: -999px;
}
#header .back.userBack {
  background-image: url("/storage/icon/icon_left_circle_bl.png");
}
#header .nav {
  position: absolute;
  top: 50%;
  right: 2%;
  z-index: 11;
  transform: translateY(-50%);
  display: flex;
}
#header .nav li:not(:last-of-type) {
  margin-right: 10px;
}
#header .nav .icon {
  display: block;
  width: 40px;
  height: 40px;
  background: no-repeat top center/76%;
  text-align: center;
  padding-top: 30px;
  font-size: 9px;
  letter-spacing: 0;
  color: #aaaaaa;
}
#header .nav .icon.login {
  background-image: url("/storage/icon/icon_login.png");
}
#header .nav .icon.menu {
  background-image: url("/storage/icon/icon_menu.png");
  transition: all 0.4s;
  cursor: pointer;
}
#header .nav .icon.menu.active {
  background-image: url("/storage/icon/icon_close.png");
}

#menuDr li {
  border-bottom: 1px solid #aaaaaa;
}
#menuDr li .icon {
  display: block;
  padding: 17px 8%;
  cursor: pointer;
}
#menuDr li .icon:before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  background-size: cover;
  vertical-align: -7px;
  margin-right: 16px;
}
#menuDr li .icon.icon_mypage:before {
  background-image: url("/storage/icon/icon_user.png");
}
#menuDr li .icon.icon_post:before {
  background-image: url("/storage/icon/icon_grid.png");
}
#menuDr li .icon.icon_setting:before {
  background-image: url("/storage/icon/icon_setting.png");
}
#menuDr li .icon.icon_card:before {
  background-image: url("/storage/icon/icon_card.png");
}
#menuDr li .icon.icon_payment:before {
  background-image: url("/storage/icon/icon_payment.png");
}
#menuDr li .icon.icon_draft:before {
  background-image: url("/storage/icon/icon_hidden.png");
}
#menuDr li .icon.icon_help:before {
  background-image: url("/storage/icon/icon_help.png");
}
#menuDr li .icon.icon_rule:before {
  background-image: url("/storage/icon/icon_scroll.png");
}
#menuDr li .icon.icon_policy:before {
  background-image: url("/storage/icon/icon_lock.png");
}
#menuDr li .icon.icon_law:before {
  background-image: url("/storage/icon/icon_book.png");
}
#menuDr li .icon.icon_notice:before {
  background-image: url("/storage/icon/icon_notice.png");
}
#menuDr li .icon.icon_addCreator:before {
  background-image: url("/storage/icon/icon_scroll.png");
}
#menuDr li .icon.icon_admins:before {
  background-image: url("/storage/icon/icon_admins.png");
}
#menuDr li .icon.icon_addAdmin:before {
  background-image: url("/storage/icon/icon_card.png");
}
#menuDr li .icon.icon_logout:before {
  background-image: url("/storage/icon/icon_logout.png");
}

/*contentWrap*
*******************************/
#contentWrap {
  overflow: hidden;
  min-height: 100vh;
  padding: 56px 0 70px;
}
#contentWrap.contentTopMar {
  padding-top: 90px;
  display: flex;
  align-items: center;
}
#contentWrap.contentTopMar > div {
  width: 100%;
}
#contentWrap.contentBtmMar {
  padding-bottom: 120px;
}

.view1 {
  overflow: hidden;
}
.view1 #contentWrap {
  display: flex;
  align-items: center;
  padding-top: 30px;
}
.view1 #contentWrap > div {
  width: 100%;
  text-align: center;
}
.view1 #contentWrap .title {
  margin-bottom: 40px;
}
.view1 #contentWrap .title .logo {
  width: 40%;
  max-width: 200px;
  margin: 0 auto 15px;
}
.view1 #contentWrap .title .txtTitle {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.4em;
}
.view1 #contentWrap .att {
  margin-bottom: 50px;
}

/*footer*
*******************************/
#footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
#footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#footer ul li {
  text-align: center;
}
#footer ul li a {
  display: inline-block;
  font-size: 0.8em;
  padding: 5px 10px;
  text-decoration: underline;
}
#footer .copy {
  text-align: center;
  padding: 10px 0;
  font-size: 0.8em;
}

/*bottomFixed*
*******************************/
.bottomFixed {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #fff;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.bottomFixed .inner {
  height: 70px;
}

#bottomCreatorMypage .inner,
#bottomAdminMypage .inner,
#bottomUserMypage .inner {
  display: flex;
}
#bottomCreatorMypage li,
#bottomAdminMypage li,
#bottomUserMypage li {
  width: 100%;
  text-align: center;
  font-size: 10px;
}
#bottomCreatorMypage li a,
#bottomAdminMypage li a,
#bottomUserMypage li a {
  display: block;
  padding-top: 12px;
}
#bottomCreatorMypage li a:before,
#bottomAdminMypage li a:before,
#bottomUserMypage li a:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto 5px;
  background: no-repeat center/cover;
}

#bottomCreatorMypage {
  background-color: #faf0ef;
}
#bottomCreatorMypage li {
  color: #aaaaaa;
}
#bottomCreatorMypage li a.pCreate:before {
  background-image: url("/storage/icon/icon_grid_pi.png");
}
#bottomCreatorMypage li a.post:before {
  background-image: url("/storage/icon/icon_time_pi.png");
}
#bottomCreatorMypage li a.mypage:before {
  background-image: url("/storage/icon/icon_user_pi.png");
}

#bottomUserMypage {
  background-color: #f4f8fa;
}
#bottomUserMypage li {
  color: #9bc5eb;
}
#bottomUserMypage li a.post:before {
  background-image: url("/storage/icon/icon_time_bl.png");
}
#bottomUserMypage li a.mypage:before {
  background-image: url("/storage/icon/icon_user_bl.png");
}

#bottomAdminMypage {
  background-color: #f4f4f4;
}
#bottomAdminMypage li {
  color: #aaaaaa;
}
#bottomAdminMypage li a.mypage:before {
  background-image: url("/storage/icon/icon_user.png");
}
#bottomAdminMypage li a.addCreator:before {
  background-image: url("/storage/icon/icon_scroll.png");
}
#bottomAdminMypage li a.admins:before {
  background-image: url("/storage/icon/icon_admins.png");
}
#bottomAdminMypage li a.notice:before {
  background-image: url("/storage/icon/icon_notice.png");
}

/*btn *****
********************************/
.btn {
  display: block;
  text-align: center;
  border-radius: 10px;
  height: 64px;
  line-height: 64px;
  padding: 0;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color: #2e2c2a;
}
.btn.line2 {
  padding-top: 10px;
  line-height: 22px;
  font-size: 1em;
}
.btn.disabledBk:disabled {
  background-color: #aaa !important;
  pointer-events: none !important;
}
.btn.disabledBor:disabled {
  border-color: #ccc !important;
  color: #aaa !important;
  pointer-events: none !important;
}

button.btn {
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  padding: 0;
}
button.btn:focus {
  outline: none;
}
button.btn:not(.btnBor) {
  border: none;
}

.btnCircle {
  display: block;
  text-align: center;
  border-radius: 25px;
  height: 50px;
  line-height: 50px;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.btnCircle.line2 {
  padding-top: 6px;
  line-height: 18px;
  font-size: 0.9em;
}

.btnS {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.btnSS {
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
}

.btnCansell {
  color: #aaaaaa;
}
.btnCansell:hover {
  color: #aaaaaa;
}

.btnBox > p:not(:first-of-type), .btnBox > li:not(:first-of-type) {
  margin-top: 12px;
}

/*btnStyle*/
.btnBor {
  background-color: #fff;
  border: 2px solid #2e2c2a;
}

.btnBorLp {
  border-color: #dfa4ad;
  color: #dfa4ad;
}
.btnBorLp:hover {
  color: #dfa4ad;
}

.btnBorBl {
  border-color: #5489ab;
  color: #5489ab;
}
.btnBorBl:hover {
  color: #5489ab;
}

.btnBorGy {
  border-color: #ededed;
  color: #aaaaaa;
}
.btnBorGy:hover {
  color: #aaaaaa;
}

.btnBk {
  background-color: #2e2c2a;
  color: #fff;
}
.btnBk:hover {
  color: #fff;
}

.btnPi {
  background-color: #b15a68;
  color: #fff;
}
.btnPi:hover {
  color: #fff;
}

.btnLp {
  background-color: #dfa4ad;
  color: #fff;
}
.btnLp:hover {
  color: #fff;
}

.btnBl {
  background-color: #5489ab;
  color: #fff;
}
.btnBl:hover {
  color: #fff;
}

.btnLb {
  background-color: #9bc5eb;
  color: #fff;
}
.btnLb:hover {
  color: #fff;
}

.btnAd {
  background-color: #2c3e50;
  color: #fff;
}
.btnAd:hover {
  color: #fff;
}

.btnAd2 {
  background-color: #68727d;
  color: #fff;
}
.btnAd2:hover {
  color: #fff;
}

.btnGy {
  color: #aaaaaa;
}
.btnGy:hover {
  color: #aaaaaa;
}

.noDateBox {
  width: 100% !important;
  padding: 50px 0;
  background-color: #fff;
}
.noDateBox.noDateBoxBorder {
  border-top: 1px solid #ededed;
}

.noDateText {
  color: #aaaaaa;
  text-align: center;
  font-size: 0.9em;
}

/*loading*/
.ajax-load {
  margin-top: 20px;
  height: 50px;
  position: relative;
}

.loadingIcon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
}

/*form *****
********************************/
.formBox > div:not(:first-of-type) {
  margin-top: 15px;
}
.formBox input[type=text], .formBox input[type=email], .formBox input[type=password], .formBox input[type=number], .formBox button, .formBox input[type=button], .formBox textarea, .formBox select {
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  padding: 0;
  font-family: a-otf-gothic-bbb-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.formBox input[type=text]:focus, .formBox input[type=email]:focus, .formBox input[type=password]:focus, .formBox input[type=number]:focus, .formBox button:focus, .formBox input[type=button]:focus, .formBox textarea:focus, .formBox select:focus {
  outline: none;
}
.formBox input[type=text]:not(.btnBor), .formBox input[type=email]:not(.btnBor), .formBox input[type=password]:not(.btnBor), .formBox input[type=number]:not(.btnBor), .formBox button:not(.btnBor), .formBox input[type=button]:not(.btnBor), .formBox textarea:not(.btnBor), .formBox select:not(.btnBor) {
  border: none;
}
.formBox input[type=text].btn, .formBox input[type=email].btn, .formBox input[type=password].btn, .formBox input[type=number].btn, .formBox button.btn, .formBox input[type=button].btn, .formBox textarea.btn, .formBox select.btn {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
}
.formBox input::-moz-placeholder {
  color: #aaa;
}
.formBox input:-ms-input-placeholder {
  color: #aaa;
}
.formBox input::placeholder {
  color: #aaa;
}
.formBox textarea::-moz-placeholder {
  color: #aaa;
}
.formBox textarea:-ms-input-placeholder {
  color: #aaa;
}
.formBox textarea::placeholder {
  color: #aaa;
}
.formBox input:-ms-input-placeholder {
  color: #aaa;
}
.formBox textarea:-ms-input-placeholder {
  color: #aaa;
}
.formBox input::-webkit-input-placeholder {
  color: #aaa;
}
.formBox textarea::-webkit-input-placeholder {
  color: #aaa;
}
.formBox input:-webkit-autofill {
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
.formBox input[type=text], .formBox input[type=email], .formBox input[type=password], .formBox input[type=number], .formBox textarea, .formBox select {
  border-radius: 5px;
  padding: 15px 10px;
  background-color: rgba(255, 255, 255, 0.7) !important;
}
.formBox .readonlyBox {
  padding-top: 10px;
}
.formBox .readonlyBox .readonly {
  padding-top: 5px;
  bottom: 5px;
  border: none !important;
}
.formBox .readonlyBox .inputCss {
  padding: 5px 10px;
}
.formBox input[type=radio], .formBox input[type=checkbox] {
  display: none;
}
.formBox input[type=radio] + label,
.formBox input[type=checkbox] + label {
  position: relative;
  padding-left: 40px;
}
.formBox input[type=radio] + label::before,
.formBox input[type=checkbox] + label::before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  border: 1px solid #ededed;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.3s;
}
.formBox input[type=radio] + label::before {
  border-radius: 50%;
}
.formBox input[type=radio] + label::after,
.formBox input[type=checkbox] + label::after {
  position: absolute;
  content: "";
  display: block;
  width: 8px;
  height: 12px;
  transform: translateY(-50%) rotate(45deg) scale(0, 0);
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  left: 9px;
  top: 48%;
  transition: 0.3s;
}
.formBox input[type=radio]:checked + label::after,
.formBox input[type=checkbox]:checked + label::after {
  transform: translateY(-50%) rotate(45deg) scale(1, 1);
}
.formBox input[type=radio]:checked + label::before {
  background-color: #9bc5eb;
}
.formBox input[type=checkbox].colorPi + label::after {
  border-right-color: #dfa4ad;
  border-bottom-color: #dfa4ad;
}
.formBox label a {
  text-decoration: underline;
}
.formBox .form-control.is-invalid {
  background-image: none;
}

.formBox.normalFormBox {
  max-width: 520px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.formBox.normalFormBox dl:not(:first-of-type) {
  margin-top: 15px;
}
.formBox.normalFormBox dt {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 5px;
}
.formBox.normalFormBox .clm2 {
  display: flex;
}
.formBox.normalFormBox .clm2 > div:not(:last-of-type) {
  margin-right: 20px;
}
.formBox.normalFormBox .required {
  color: #b15a68;
  font-size: 0.9em;
  margin-left: 10px;
}
.formBox.normalFormBox .att {
  font-family: a-otf-gothic-bbb-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  padding: 2px 0;
  font-size: 0.9em;
  color: #aaaaaa;
}
.formBox.normalFormBox input, .formBox.normalFormBox select, .formBox.normalFormBox textarea {
  border: 1px solid #ededed !important;
}
.formBox.normalFormBox .nameBox {
  display: flex;
}
.formBox.normalFormBox .nameBox input {
  width: 100%;
}
.formBox.normalFormBox .nameBox input:not(:first-of-type) {
  margin-left: 10px;
}
.formBox.normalFormBox .sexBox {
  padding: 5px 0 10px;
}
.formBox.normalFormBox .monthly_priceBox {
  position: relative;
}
.formBox.normalFormBox .monthly_priceBox:before {
  content: "円";
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
}
.formBox.normalFormBox .btnBox {
  margin-top: 40px;
}
.formBox.normalFormBox .txtLink {
  margin-top: 30px;
  font-size: 0.9em;
  color: #aaaaaa;
}
.formBox.normalFormBox .txtLink.NoMrg {
  margin-top: 0;
}
.formBox.normalFormBox .txtLink a {
  text-decoration: underline;
}
.formBox.normalFormBox .txtLink.center {
  text-align: center;
}
.formBox.normalFormBox .txtLink.right {
  text-align: right;
}
.formBox.normalFormBox .centerCheckbox {
  margin-top: 50px;
  text-align: center;
}
.formBox.normalFormBox .searchBox {
  position: relative;
}
.formBox.normalFormBox .searchBox input[type=image] {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #2c3e50;
  width: 50px;
  height: 50px;
  padding: 12px;
}
.formBox.normalFormBox .selectBox select {
  background-color: #f4f4f4 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: relative;
  background: url("/storage/icon/icon_bottom.png") no-repeat right 14px center/14px;
}

/*errow *****
********************************/
.invalid-feedback {
  font-size: 0.9em;
  text-align: left;
  display: block;
  margin: 10px 0;
  padding: 10px;
  color: #b15a68;
  background-color: #faf0ef;
}
.invalid-feedback:before {
  content: "※";
}

/*flashMsg *****
********************************/
.flashMsg {
  background-color: #f4f8fa;
  padding: 30px 0;
}
.flashMsg p {
  max-width: 520px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #5489ab;
}

/*moreArea *****
********************************/
.moreArea {
  position: relative;
  max-height: calc(3em * 1.6 + 2px);
  overflow: hidden;
  transition: height 0.2s ease;
}
.moreArea.open {
  max-height: 100em;
  padding-bottom: 2.2em;
}
.moreArea .moreBtn {
  cursor: pointer;
  display: none;
  position: absolute;
  bottom: 5px;
  right: 0;
  color: #aaaaaa;
  text-decoration: underline;
  background-color: #fff;
  padding-left: 10px;
  line-height: 1.4em;
}

/*profile *****
********************************/
/*profileHeader*/
#profileHeader {
  padding-bottom: 18%;
}
#profileHeader .imgbox {
  position: relative;
  background: no-repeat center/cover;
  padding-top: 46%;
  background-color: #faf0ef;
}
#profileHeader .imgbox div {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 36%;
  border-radius: 50%;
  border: 3px solid #dfa4ad;
  overflow: hidden;
  height: 78%;
}
#profileHeader .imgbox div img {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}
#profileHeader.profileHeaderNoBk {
  padding-bottom: 0;
}
#profileHeader.profileHeaderNoBk .imgbox {
  background-color: transparent;
  padding-top: 30px;
}
#profileHeader.profileHeaderNoBk .imgbox div {
  position: relative;
  transform: translateX(-50%);
  width: 36%;
  padding-top: 35%;
  height: auto;
}

/*profileBox*/
#profileBox {
  max-width: 520px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#profileBox .name {
  text-align: center;
  font-size: 1.6em;
  line-height: 1.4;
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 20px;
}
#profileBox .text a {
  color: #5489ab;
  text-decoration: underline;
}
#profileBox .text a:hover {
  text-decoration: none;
}
#profileBox .price {
  text-align: center;
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
}
#profileBox .price span {
  font-size: 0.8em;
}
#profileBox .score {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
#profileBox .score dl {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
}
#profileBox .score dl:not(:first-of-type) {
  margin-left: 10%;
}
#profileBox .score dt {
  background-color: #faf0ef;
  padding: 2px 10px;
  margin-bottom: 6px;
  display: inline-block;
  font-size: 0.8em;
}
#profileBox .score dd {
  font-size: 1.5em;
  line-height: 1;
}
#profileBox .score .gain {
  font-size: 1rem;
}
#profileBox .score .period {
  display: block;
  font-size: 0.8rem;
  font-family: a-otf-gothic-bbb-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
  color: #aaaaaa;
}
#profileBox .score.scorePrice {
  justify-content: space-between;
}
#profileBox .score.scorePrice dl {
  background-color: #faf0ef;
  padding: 5px 0 15px;
  width: 49%;
}
#profileBox .score.scorePrice dl:not(:first-of-type) {
  margin-left: 0;
}
#profileBox .score.scorePrice dt {
  padding: 0;
}
#profileBox .score.scorePrice .gain {
  display: block;
  margin-top: 6px;
}
#profileBox .btnBox {
  margin-top: 30px;
}
#profileBox .text {
  margin-top: 20px;
}

/*postList *****
********************************/
#postList {
  margin-top: 40px;
}
#postList ul {
  display: flex;
  flex-wrap: wrap;
}
#postList ul li {
  width: 33%;
}
#postList ul li:not(:nth-of-type(3n)) {
  margin-right: 0.5%;
}
#postList ul li:nth-of-type(n+4) {
  margin-top: 0.5%;
}
#postList ul li a {
  display: block;
  position: relative;
}
#postList ul li a:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-size: cover;
  position: absolute;
  top: 5px;
  right: 5px;
}
#postList ul li.postMulti a:before {
  background-image: url("/storage/icon/icon_pictures.png");
}
#postList ul li.postVideo a:before {
  background-image: url("/storage/icon/icon_video.png");
}

/*postBox *****
********************************/
#postBox {
  background-color: #f4f4f4;
}
#postBox .post {
  background-color: #fff;
  border-top: 1px solid #f4f4f4;
}
#postBox .post:not(:last-of-type) {
  margin-bottom: 40px;
}
#postBox .post .postTitle {
  max-width: 640px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
#postBox .post .postTitle .thumbnail {
  width: 60px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #dfa4ad;
  overflow: hidden;
}
#postBox .post .postTitle .nameBox {
  flex: 1;
}
#postBox .post .postTitle .nameBox .name {
  font-size: 1.1em;
}
#postBox .post .postTitle .nameBox .time {
  color: #aaaaaa;
}
#postBox .post .counter {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 28px;
  line-height: 28px;
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  z-index: 1;
}
#postBox .post .secretBox {
  width: 100%;
  padding-top: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#dfa4ad, #9bc5eb);
}
#postBox .post .secretBox .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 520px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#postBox .post .secretBox p {
  color: #fff;
  padding: 20px 0;
}
#postBox .post .secretBox p a {
  text-decoration: underline;
}
#postBox .post .editBtn {
  display: block;
  position: relative;
  width: 30px;
  margin: -30px 5% 0 auto;
  z-index: 1;
}
#postBox .post .postEditBox li p, #postBox .post .postEditBox li a {
  cursor: pointer;
  background-color: transparent;
  padding: 20px 0;
  display: block;
  text-align: center;
  font-size: 16px;
}
#postBox .post .postEditBox li .postEditDelete {
  color: #b15a68;
}
#postBox .post .postEditBox li .postEditInvisible {
  border-top: 1px solid #ededed;
}
#postBox .post .textBox {
  max-width: 640px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0 20px;
}
#postBox .owl-carousel.owl-loaded {
  padding-bottom: 40px;
}
#postBox .owl-theme .owl-nav.disabled + .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*fanclubList *****
********************************/
#fanclubList {
  margin-top: 40px;
  max-width: 640px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#fanclubList h2 {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.2em;
  margin-bottom: 20px;
}
#fanclubList li {
  position: relative;
  padding-right: 26px;
  display: flex;
  align-items: center;
}
#fanclubList li:not(:first-of-type) {
  margin-top: 30px;
}
#fanclubList li .imgbox {
  width: 80px;
  height: 80px;
  margin-right: 5%;
  border-radius: 50%;
  border: 3px solid #dfa4ad;
  overflow: hidden;
  position: relative;
}
#fanclubList li .imgbox img {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}
#fanclubList li .txtBox {
  flex: 1;
}
#fanclubList li .txtBox .name {
  font-size: 1.2em;
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
}
#fanclubList li .txtBox a {
  display: inline-block;
  font-size: 0.9em;
  margin-top: 5px;
  color: #aaaaaa;
  text-decoration: underline;
}
#fanclubList li .txtBox .invisibleText {
  display: inline-block;
  background-color: #b15a68;
  color: #fff;
  border-radius: 8px;
  padding: 0 10px;
  margin-bottom: 5px;
  font-size: 11px;
}
#fanclubList li .iconBox {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 24px;
  height: 24px;
}
#fanclubList li .iconBox:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url("/storage/icon/icon_right-circle_bl.png") no-repeat center/cover;
}

/* 21.04.29 kondo, Overrides the Modal */
.modal {
  padding: 0 10px;
  max-width: 640px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.modal-dialog {
  height: 100%;
}

.modal-content {
  border: none;
  border-radius: 20px 20px 0 0;
  justify-content: flex-end;
  border-radius: 20px;
  background-color: transparent;
}

.modal.fade .modal-dialog {
  transform: translate(0, 50px);
}

.modal.show .modal-dialog {
  transform: none;
}

.modal-dialog {
  margin: 0;
  max-width: none;
}

.modal-dialog-bottom {
  display: flex;
  align-items: flex-end;
}

.modal-header {
  display: block;
  border-bottom: none;
}
.modal-header .titleText {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 1.2em;
}
.modal-header .close {
  width: auto;
  position: absolute;
  top: 20px;
  right: 5%;
}

.modal-body {
  background-color: #fff;
  padding: 0;
  border-radius: 20px;
  max-height: 80vh;
  overflow: scroll;
}

.modal-footer {
  display: block;
  margin: 10px 0;
  border-top: none;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  display: block;
}
.modal-footer .close {
  font-size: 1em;
  opacity: 1;
  font-family: a-otf-gothic-bbb-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
  float: none;
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

.modal .modal-footer.btnBox {
  max-width: 300px;
  width: 90%;
  margin: 20px auto 0;
}

.warningBox .modal-content {
  background-color: #fff;
  padding: 30px 5%;
}
.warningBox .modal-warning {
  padding: 0 5%;
}
.warningBox .modal-warning p {
  line-height: 2.2;
}
.warningBox .modal-warning .center {
  text-align: center;
}

/*新規投稿・投稿修正*
*******************************/
#postCreate {
  max-width: 520px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#postCreate .post {
  display: flex;
  flex-wrap: wrap;
}
#postCreate .post li {
  width: 49%;
  margin-bottom: 2%;
}
#postCreate .post li:nth-of-type(2n) {
  margin-left: 2%;
}

/*プロフィール修正*
*******************************/
#profileEditImg {
  position: relative;
}
#profileEditImg input {
  display: none;
}
#profileEditImg label {
  cursor: pointer;
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #faf0ef;
}
#profileEditImg label:after {
  content: "";
  display: block;
  width: 34px;
  height: 34px;
  background: url("/images/icon_camera.png") no-repeat center/cover;
  position: absolute;
}
#profileEditImg img {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#profileEditImg .background_img {
  position: relative;
  padding-bottom: 46%;
  overflow: hidden;
}
#profileEditImg .background_img label:after {
  bottom: 10px;
  right: 20px;
}
#profileEditImg .profile_img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 36%;
  height: 78%;
  border-radius: 50%;
  border: 3px solid #dfa4ad;
  overflow: hidden;
}
#profileEditImg .profile_img label:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profileEdit .normalFormBox {
  width: 100%;
  max-width: none;
}

#profileEditText {
  padding-top: 23%;
  background-color: #fff;
}
#profileEditText dd > a {
  text-align: right;
  margin-top: 10px;
  display: block;
  color: #aaaaaa;
  text-decoration: underline;
}
#profileEditText .nav-link {
  text-align: left;
  padding: 10px 0 0;
}
#profileEditText .nav-link:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: -8px;
  margin-right: 10px;
  background: url("/storage/icon/icon_add.png") no-repeat center/80% #dfa4ad;
}

#instruction {
  width: 100%;
  height: 200px;
  overflow: scroll;
  border-radius: 5px;
  padding: 10px;
    font-size: 16px;
  background-color: rgba(255, 255, 255, 0.7) !important;
  border: 1px solid #ededed;
  background-color: #fff;
}
#instruction a {
  color: #b15a68;
  text-decoration: underline;
}

#add_link .modal-content {
  background-color: #fff;
  padding: 0 5%;
}
