
/*21.03.09 김태영, 주석 dropzone 사용하기 이전 업로드 때 작성한 코드*/
/*#image-form-wrapper {*/
/*    padding-top: 20px;*/
/*    background: #f7f7f7;*/
/*}*/
/*#images {*/
/*    background: #eee;*/
/*    padding: 20px 0;*/
/*}*/
/*.thumbnail img{*/
/*    height: 300px;*/
/*    width: 450px;*/
/*}*/

.flex_images {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    /*flex-wrap: wrap;*/
    justify-content: center;
}

.flex_images img {
    width: 200px;
    height: 200px;
}

.timeline_image img {
    width: 500px;
    height: 500px;
}

.ajax-load.text-center {
    display: none;
}

.file_cnt {
    position: absolute;
    color: #000000;
    background: #f66d9b;
    font-size: 25px;
    margin-left: 170px;
    margin-top: -180px;
}

/*creator 투고 화면*/
.inputfile {
    /*width: 0.1px;*/
    /*height: 0.1px;*/
    width: 200px;
    height: 30px;
    opacity: 1;
    overflow: hidden;
    /*position: absolute;*/
    z-index: -1;
}

/*.inputfile + label {*/
.inputfile ~ label {
    font-size: 1.25em;
    font-weight: 700;
    color: #afafaf;
    background-color: #f3f3f3;
    display: inline-block;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    cursor: pointer;
    background-size: 100px 100px;
}

/*.inputfile:focus + label,*/
/*.inputfile + label:hover {*/
.inputfile:focus ~ label,
.inputfile ~ label:hover {
    background-color: #e4e4e4;
}

.vdatetime-input {
    border: 0px;
    width: 100%;
    /*height: 100%;*/
}

/*21.04.08 김태영, creator mypage background_img, profile_img */
.image-upload > div > label
{
    cursor: pointer;
}

.image-upload > div > input
{
    display: none;
}

#instruction {
    width: 400px;
    height: 200px;
    /*margin: 0 auto;*/
    overflow: auto;
    border: 1px solid #0f0;
    padding: 2px;
    text-align: justify;
    background: transparent;
}

.required_alert
{
    color: red;
    display: none;
}
