/*body*
*******************************/
body{
    color: $color_b;
    line-height:1.6;
    font-size:14px;
    letter-spacing: 0.02em;
    @include font_jp;
}
a:hover{
    color: inherit;
}
#wrapper{
    @include wrap;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.1);
}

/*header*
*******************************/
#header{
    width: 100%;
    @include wrap;
    height: 56px;
    background-color: #fff;
    border-bottom: 1px solid $color_b_sub2;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    @include flex;
    @include ac;
    @include jc;
    &.border{
        border-bottom: 1px solid $color_b_sub2;
        &+#contentWrap{
            margin-top: $mg*1.5;
        }
    }
    .logo{
        max-width: 140px;
        width: 34%;
        position: relative;
        z-index: 11;
    }
    .txtTitle{
        @include font_head;
        text-align: center;
        font-size: 1.4em;
        line-height: 1.4;
        span{
            display: block;
            font-size: 0.8rem;
            @include font_jp;
            color: $color_b_sub;
        }
    }
    .back{
        display: block;
        position: absolute;
        top: 50%;
        left: 2%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background: url("../storage/icon/icon_left_circle_pi.png") no-repeat center/76%;
        overflow: hidden;
        text-indent: -999px;
    }
    .nav{
        position: absolute;
        top: 50%;
        right: 2%;
        z-index: 11;
        transform: translateY(-50%);
        @include flex;
        li{
            &:not(:last-of-type){
                margin-right: 10px;
            }
        }
        .icon{
            display: block;
            width: 40px;
            height: 40px;
            background: no-repeat top center/76%;
            text-align: center;
            padding-top: 30px;
            font-size: 9px;
            letter-spacing: 0;
            color: $color_b_sub;
            &.login{
                background-image: url("icon_login.png");
            }
            &.menu{
                background-image: url("icon_menu.png");
                transition: all 0.4s;
                cursor: pointer;
                &.active{
                    background-image: url("icon_close.png");
                }
            }
        }
    }
}
#menuDrawerContent{
    @include wrap;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    z-index: 10;
    padding-top: 56px;
    transition: all 0.6s ease-in-out;
    display: none;
    li{
        border-top: 1px solid $color_b_sub;
        &:last-of-type{
            border-bottom: 1px solid $color_b_sub;
        }
        a{
            display: block;
            padding: 17px 8%;
            &:before{
                content: "";
                display: inline-block;
                width: 26px;
                height: 26px;
                background-size: cover;
                vertical-align: -7px;
                margin-right: 16px;
            }
            &.icon_mypage:before{background-image: url("icon_user.png");}
            &.icon_post:before{background-image: url("icon_grid.png");}
            &.icon_setting:before{background-image: url("icon_setting.png");}
            &.icon_card:before{background-image: url("icon_card.png");}
            &.icon_payment:before{background-image: url("icon_payment.png");}
            &.icon_draft:before{background-image: url("icon_hidden.png");}
            &.icon_help:before{background-image: url("icon_help.png");}
            &.icon_rule:before{background-image: url("icon_scroll.png");}
            &.icon_policy:before{background-image: url("icon_lock.png");}
            &.icon_law:before{background-image: url("icon_book.png");}
            &.icon_logout:before{background-image: url("icon_logout.png");}
        }
    }
}

/*contentWrap*
*******************************/
#contentWrap{
    overflow: hidden;
    min-height: 100vh;
    padding: 56px 0 70px;
    &.contentTopMar{
        padding-top: 90px;
        @include flex;
        @include ac;
        &>div{
            width: 100%;
        }
    }
    &.contentBtmMar{
        padding-bottom: 120px;
    }
}
.view1{
    overflow: hidden;
    #contentWrap{
        @include flex;
        @include ac;
        padding-top: 30px;
        &>div{
            width: 100%;
            text-align: center;
        }
        .title{
            margin-bottom: 40px;
            .logo{
                width: 40%;
                max-width: 200px;
                margin: 0 auto 15px;
            }
            .txtTitle{
                @include font_head;
                font-size: 1.4em;
            }
        }
        .att{
            margin-bottom: 50px;
        }
    }
}

/*footer*
*******************************/
#footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    ul{
        @include flex;
        @include fw;
        @include jc;
        li{
            text-align: center;
            a{
                display: inline-block;
                font-size: 0.8em;
                padding: 5px 10px;
                text-decoration: underline;
            }
        }
    }
    .copy{
        text-align: center;
        padding: 10px 0;
        font-size: 0.8em;
    }
}

/*bottomFixed*
*******************************/
.bottomFixed{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #fff;
    @include wrap;
    z-index: 1;
    .inner{
        height: 70px;
    }
}
#bottomCreatorMypage,
#bottomAdminMypage,
#bottomUserMypage {
    .inner{
        @include flex;
    }
    li{
        width: 100%;
        text-align: center;
        font-size: 10px;
        a{
            display: block;
            padding-top: 12px;
            &:before {
                content: "";
                display: block;
                width: 30px;
                height: 30px;
                margin:0 auto 5px;
                background: no-repeat center/cover;
            }
        }
    }
}
#bottomCreatorMypage {
    background-color: $color_c_bk;
    li{
        color: $color_b_sub;
        a{
            &.pCreate:before{
                background-image: url("icon_grid_pi.png");
            }
            &.post:before{
                background-image: url("icon_time_pi.png");
            }
            &.mypage:before{
                background-image: url("icon_user_pi.png");
            }
        }
    }
}
#bottomUserMypage {
    background-color: $color_f_bk;
    li{
        color: $color_f_sub;
        a{
            &.post:before{
                background-image: url("icon_time_bl.png");
            }
            &.mypage:before{
                background-image: url("icon_user_bl.png");
            }
        }
    }
}

#bottomAdminMypage {
    background-color: $color_b_bk;
    li{
        color: $color_b_sub;
        a{
            &.mypage:before{
                background-image: url("icon_user.png");
            }
            &.setting:before{
                background-image: url("icon_setting.png");
            }
        }
    }
}
