/*btn *****
********************************/
.btn{
    display: block;
    text-align: center;
    border-radius: 10px;
    height: 64px;
    line-height: 64px;
    padding: 0;
    background-color: $color_b_bk;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    @include font_head;
    font-size: 16px;
    color: $color_b;
    &.line2{
        padding-top: 10px;
        line-height: 22px;
        font-size: 1em;
    }
    &.disabledBk:disabled{
        background-color: #aaa !important;
        pointer-events: none !important;
    }
    &.disabledBor:disabled{
        border-color: #ccc !important;
        color: #aaa !important;
        pointer-events: none !important;
    }
}
button.btn {
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    appearance: button;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    @include font_head;
    font-size: 16px;
    padding: 0;
    &:focus {
        outline: none;
    }
    &:not(.btnBor){
        border: none;
    }
}
.btnCircle{
    display: block;
    text-align: center;
    border-radius: 25px;
    height: 50px;
    line-height: 50px;
    background-color: $color_b_bk;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    &.line2{
        padding-top: 6px;
        line-height: 18px;
        font-size: 0.9em;
    }
}
.btnS{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.btnSS{
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
}
.btnCansell{
    color: $color_b_sub;
    &:hover{
        color: $color_b_sub;
    }
}
.btnBox{
    &>p,
    &>li{
        &:not(:first-of-type){
            margin-top: 12px;
        }
    }
}
/*btnStyle*/
.btnBor{
    background-color: #fff;
    border: 2px solid $color_b;
}
.btnBorLp{ border-color: $color_c_sub; color: $color_c_sub; &:hover{color: $color_c_sub;}}
.btnBorBl{ border-color: $color_f; color: $color_f; &:hover{color: $color_f;}}
.btnBorGy{ border-color: $color_b_sub2; color: $color_b_sub; &:hover{color: $color_b_sub;}}
.btnBk{ background-color: $color_b; color: #fff; &:hover{color: #fff;}}
.btnPi{ background-color: $color_c; color: #fff; &:hover{color: #fff;}}
.btnLp{ background-color: $color_c_sub; color: #fff; &:hover{color: #fff;}}
.btnBl{ background-color: $color_f; color: #fff; &:hover{color: #fff;}}
.btnLb{ background-color: $color_f_sub; color: #fff; &:hover{color: #fff;}}
.btnAd{ background-color: $color_a; color: #fff; &:hover{color: #fff;}}
.btnAd2{ background-color: $color_a_sub; color: #fff; &:hover{color: #fff;}}
.btnGy{color: $color_b_sub; &:hover{color: $color_b_sub;}}

.noDateBox{
    width: 100% !important;
    padding: 50px 0;
    background-color: #fff;
    &.noDateBoxBorder{
        border-top: 1px solid $color_b_sub2;
    }
}
.noDateText{
    color: $color_b_sub;
    text-align: center;
    font-size: 0.9em;
}
/*loading*/
.ajax-load{
    margin-top: 20px;
    height: 50px;
    position: relative;
}
.loadingIcon{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
}

/*form *****
********************************/
.formBox {
    &>div{
        &:not(:first-of-type){
            margin-top: 15px;
        }
    }
    input[type="text"],input[type="email"],input[type="password"],input[type="number"],button,input[type="button"],textarea,select{
        -webkit-box-sizing: content-box;
        -webkit-appearance: button;
        appearance: button;
        box-sizing: border-box;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
        padding: 0;
        @include font_jp;
        &:focus {
            outline: none;
        }
        &:not(.btnBor){
            border: none;
        }
        &.btn{
            @include font_head;
        }
    }
    input::placeholder{color: #aaa;}
    textarea::placeholder{color: #aaa;}
    input:-ms-input-placeholder{color: #aaa;}
    textarea:-ms-input-placeholder{color: #aaa;}
    input::-webkit-input-placeholder{color: #aaa;}
    textarea::-webkit-input-placeholder{color: #aaa;}
    input:-webkit-autofill {
        transition: background-color 5000s ease-in-out 0s !important;
    }
    input[type="text"],input[type="email"],input[type="password"],input[type="number"],textarea,select{
        border-radius: 5px;
        padding: 15px 10px;
        background-color: rgba(#fff,0.7) !important;
    }
    .readonlyBox{
        padding-top: 10px;
        .readonly{
            padding-top:5px;
            bottom:5px;
            border: none !important;
        }
        .inputCss{
            padding: 5px 10px;
        }
    }
    input[type="radio"],input[type="checkbox"]{
        display: none;
    }
    input[type="radio"]+label,
    input[type="checkbox"]+label{
        position: relative;
        padding-left: 40px;
    }
    input[type="radio"]+label::before,
    input[type="checkbox"]+label::before{
        content: "";
        display: block;
        width: 26px;
        height: 26px;
        border: 1px solid $color_b_sub2;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        cursor: pointer;
        transition: .3s;
    }
    input[type="radio"]+label::before{
        border-radius: 50%;
    }
    input[type="checkbox"]+label::before {
    }
    input[type="radio"] + label::after,
    input[type="checkbox"] + label::after{
        position: absolute;
        content: '';
        display: block;
        width: 8px;
        height: 12px;
        transform: translateY(-50%) rotate(45deg) scale(0, 0);
        border-right: 3px solid #fff;
        border-bottom: 3px solid #fff;
        left: 9px;
        top: 48%;
        transition: .3s;
    }
    input[type="radio"]:checked,
    input[type="checkbox"]:checked{
        & + label::after {
            transform: translateY(-50%) rotate(45deg) scale(1, 1);
        }
    }
    input[type="radio"]:checked{
        & + label::before {
            background-color: $color_f_sub;
        }
    }
    input[type="checkbox"].colorPi + label::after {
        border-right-color: $color_c_sub;
        border-bottom-color: $color_c_sub;
    }
    label a{
        text-decoration: underline;
    }
    .form-control.is-invalid{
        background-image: none;
    }
}
.formBox.normalFormBox{
    @include wrap_inner;
    text-align: left;
    dl {
        &:not(:first-of-type) {
            margin-top: 15px;
        }
    }
    dt{
        @include font_head;
        margin-bottom: 5px;
    }
    .clm2{
        @include flex;
        &>div{
            &:not(:last-of-type){
                margin-right: 20px;
            }
        }
    }
    .required{
        color: $color_c;
        font-size: 0.9em;
        margin-left: 10px;
    }
    .att{
        @include font_jp;
        display: block;;
        padding: 2px 0;
        font-size: 0.9em;
        color: $color_b_sub;
    }
    input,select,textarea{
        border: 1px solid $color_b_sub2 !important;
    }
    .nameBox{
        @include flex;
        input{
            width: 100%;
            &:not(:first-of-type){
                margin-left: 10px;
            }
        }
    }
    .sexBox{
        padding: 5px 0 10px;
    }
    .monthly_priceBox{
        position: relative;
        &:before{
            content: "円";
            position: absolute;
            top: 50%;
            right: 5%;
            transform: translateY(-50%);
            @include font_head;
            line-height: 1;
        }
    }
    .btnBox{
        margin-top: $mg*2;
    }
    .txtLink{
        margin-top: 30px;
        font-size: 0.9em;
        color: $color_b_sub;
        &.NoMrg{
            margin-top: 0;
        }
        a{
            text-decoration: underline;
        }
        &.center{
            text-align: center;
        }
        &.right{
            text-align: right;
        }
    }
    .centerCheckbox{
        margin-top: 50px;
        text-align: center;
    }
    .searchBox{
        position: relative;
        input[type='image']{
            position: absolute;
            top: 0;
            right: 0;
            background-color: $color_a;
            width: 50px;
            height: 50px;
            padding: 12px;
        }
    }
    .selectBox{
        select{
            background-color: $color_b_bk !important;
            -webkit-appearance:none;
            appearance:none;
            position: relative;
            background: url("/storage/icon/icon_bottom.png") no-repeat right 14px center/14px;
        }
    }
}

/*errow *****
********************************/
.invalid-feedback{
    font-size: 0.9em;
    text-align: left;
    display: block;
    margin: 10px 0;
    padding: 10px;
    color: $color_c;
    background-color: $color_c_bk;
    &:before{
        content: "※";
    }
}
/*flashMsg *****
********************************/
.flashMsg{
    background-color: $color_f_bk;
    padding: 30px 0;
    p{
        @include wrap_inner;
        color: $color_f;
    }
}

/*moreArea *****
********************************/
.moreArea{
    position: relative;
    max-height: calc(3em * 1.6 + 2px);
    overflow: hidden;
    transition: height 0.2s ease;
    white-space: pre-wrap;
    &.open{
        max-height: 100em;
        padding-bottom: 2.2em;
    }
    .moreBtn{
        cursor: pointer;
        display: none;
        position: absolute;
        bottom: 5px;
        right: 0;
        color: $color_b_sub;
        text-decoration: underline;
        background-color: #fff;
        padding-left:10px;
        line-height: 1.4em;
    }
}

/*profile *****
********************************/
/*profileHeader*/
#profileHeader{
    padding-bottom: 18%;
    .imgbox{
        position: relative;
        .thumbnail{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
            width: 36%;
            border-radius: 50%;
            border: 3px solid #dfa4ad;
            overflow: hidden;
            height: 78%;
            img{
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 100%;
            }
        }
    }
    &.profileHeaderNoBk{
        padding-bottom: 0;
        .imgbox {
            padding-top: 30px;
            div {
                position: relative;
                transform: translateX(-50%);
                width: 36%;
                padding-top: 35%;
                height: auto;
            }
        }
    }
}
/*profileBox*/
#profileBox{
    @include wrap_inner;
    .name{
        text-align: center;
        font-size: 1.6em;
        line-height: 1.4;
        @include font_head;
        margin-top: $mg;
    }
    .text{
        a{
            color: $color_f;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .price{
        text-align: center;
        @include font_head;
        span{
            font-size: 0.8em;
        }
    }
    .score{
        @include flex;
        @include jc;
        text-align: center;
        margin-top: $mg;
        dl{
            @include font_head;
            &:not(:first-of-type){
                margin-left: 10%;
            }
        }
        dt{
            background-color: $color_c_bk;
            padding: 2px 10px;
            margin-bottom: 6px;
            display: inline-block;
            font-size: 0.8em;
        }
        dd{
            font-size: 1.5em;
            line-height: 1;
        }
        .gain{
            font-size: 1rem;
        }
        .period{
            display: block;
            font-size: 0.8rem;
            @include font_jp;
            margin-top: 10px;
            color: $color_b_sub;
        }
        &.scorePrice{
            @include js;
            dl{
                background-color: $color_c_bk;
                padding: 5px 0 15px;
                width: 49%;
                &:not(:first-of-type){
                    margin-left: 0;
                }
            }
            dt{
                padding: 0;
            }
            .gain{
                display: block;
                margin-top: 6px;
            }
        }
    }
    .btnBox{
        margin-top: $mg*1.5;
    }
    .text{
        margin-top: $mg;
    }
}

/*postList *****
********************************/
#postList{
    margin-top: $mg*2;
    ul{
        @include flex;
        @include fw;
        li{
            width: 33%;
            &:not(:nth-of-type(3n)){
                margin-right: 0.5%;
            }
            &:nth-of-type(n+4){
                margin-top: 0.5%;
            }
            a{
                display: block;
                position: relative;
                &:before{
                    content: "";
                    display: block;
                    width: 20px;
                    height: 20px;
                    background-size: cover;
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
            }
            &.postMulti a:before{
                background-image: url("/storage/icon/icon_pictures.png");
            }
            &.postVideo a:before{
                background-image: url("/storage/icon/icon_video.png");
            }
        }
    }
}

/*postBox *****
********************************/
#postBox{
    background-color: $color_b_bk;
    .post{
        background-color: #fff;
        border-top: 1px solid $color_b_bk;
        &:not(:last-of-type){
            margin-bottom: $mg*2;
        }
        .postTitle{
            @include wrap_s;
            @include flex;
            @include ac;
            padding: 10px 0;
            .thumbnail{
                width: 60px;
                margin-right: 10px;
                border-radius: 50%;
                border: 2px solid $color_c_sub;
                overflow: hidden;
            }
            .nameBox{
                flex: 1;
                .name{
                    font-size: 1.1em;
                }
                .time{
                    color: $color_b_sub;
                }
            }
        }
        .counter{
            position: absolute;
            top: 10px;
            right: 10px;
            width: 60px;
            height: 28px;
            line-height: 28px;
            border-radius: 20px;
            font-size: 12px;
            text-align: center;
            background-color: rgba(0,0,0,0.3);
            color: #fff;
            z-index: 1;
        }
        .secretBox{
            width: 100%;
            padding-top: 100%;
            position: absolute;
            top: 0;
            left: 0;
            @include grade;
            .inner{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                @include wrap_inner;
                text-align: center;
            }
            p{
                color: #fff;
                padding: 20px 0;
                a{
                    text-decoration: underline;
                }
            }
        }
        .editBtn{
            display: block;
            position: relative;
            width: 30px;
            margin: -30px 5% 0 auto;
            z-index: 1;
        }
        .postEditBox{
            li{
                p,a{
                    cursor: pointer;
                    background-color: transparent;
                    padding: 20px 0;
                    display: block;
                    text-align: center;
                    font-size: 16px;
                }
                .postEditDelete{
                    color: $color_c;
                }
                .postEditInvisible{
                    border-top: 1px solid $color_b_sub2;
                }
            }
        }
        .textBox{
            @include wrap_s;
            padding: 10px 0 20px;
        }
    }
    .owl-carousel.owl-loaded{
        padding-bottom: 40px;
    }
    .owl-theme .owl-nav.disabled+.owl-dots{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

/*fanclubList *****
********************************/
#fanclubList {
    margin-top: $mg*2;
    @include wrap_s;
    h2{
        @include font_head;
        font-size: 1.2em;
        margin-bottom: $mg;
    }
    li{
        position: relative;
        padding-right: 26px;
        @include flex;
        @include ac;
        &:not(:first-of-type){
            margin-top: 30px;
        }
        .imgbox{
            width: 80px;
            height: 80px;
            margin-right: 5%;
            border-radius: 50%;
            border: 3px solid $color_c_sub;
            overflow: hidden;
            position: relative;
            img{
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 100%;
            }
        }
        .txtBox{
            flex: 1;
            .name{
                font-size: 1.2em;
                @include font_head;
            }
            a{
                display: inline-block;
                font-size: 0.9em;
                margin-top: 5px;
                color: $color_b_sub;
                text-decoration: underline;
            }
            .invisibleText{
                display: inline-block;
                background-color: $color_c;
                color: #fff;
                border-radius: 8px;
                padding: 0 10px;
                margin-bottom: 5px;
                font-size: 11px;
            }
        }
        .iconBox{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            display: block;
            width: 24px;
            height: 24px;
            &:before{
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background: url("/storage/icon/icon_right-circle_bl.png") no-repeat center/cover;
            }
        }
    }
}


/* 21.04.29 kondo, Overrides the Modal */
.modal{
    padding: 0 10px;
    @include wrap_s;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.modal-dialog{
    height: 100%;
}
.modal-content{
    border: none;
    border-radius: 20px 20px 0 0;
    @include je;
    border-radius: 20px;
    background-color: transparent;
}
.modal.fade .modal-dialog{
    transform: translate(0, 50px);
}
.modal.show .modal-dialog{
    transform: none;
}
.modal-dialog{
    margin: 0;
    max-width: none;
}
.modal-dialog-bottom{
    @include flex;
    @include ae;
}
.modal-header{
    display: block;
    border-bottom: none;
    .titleText {
        @include font_head;
        text-align: center;
        font-size: 1.2em;
    }
    .close{
        width: auto;
        position: absolute;
        top: 20px;
        right: 5%;
    }
}
.modal-body{
    background-color: #fff;
    padding: 0;
    border-radius: 20px;
    max-height: 80vh;
    overflow: scroll;
}
.modal-footer{
    display: block;
    margin: 10px 0;
    border-top: none;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    display: block;
    .close{
        font-size: 1em;
        opacity: 1;
        @include font_jp;
        float: none;
        display: block;
        width: 100%;
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }
}
.modal {
    .modal-footer.btnBox{
        max-width: 300px;
        width: 90%;
        margin: 20px auto 0;
    }
}

.warningBox{
    .modal-content {
        background-color: #fff;
        padding: 30px 5%;
    }
    .modal-warning{
        padding: 0 5%;
        p {
            line-height: 2.2;
        }
        .center{
            text-align: center;
        }
    }
}
