
/*運営者マイページ*
*******************************/
.admin{
    #profileBox{
        max-width: 100%;
        width: 100%;
        margin-top: 0;
        padding: $mg 0;
        background-color: $color_b_bk;
        .score.clm3{
            margin-top: 0;
            @include wrap_inner;
            dl{
                width: 32%;
                margin-left: 2%;
                padding: 6px 0;
                background-color: #fff;
                &:first-of-type{
                    margin-left: 0;
                }
                dt{
                    background-color: transparent;
                    padding: 0;
                }
            }
        }
        .score:not(.clm3){
            dt{
                background-color: #fff;
            }
        }
    }
    #creatorRegBtn{
        @include wrap_inner;
        margin: $mg auto;
    }
    #search_creator_input,#search_creator_select{
        padding-top: 0;
        padding-bottom: 0;
        height: 50px;
    }
    #fanclubList li{
        .iconBox:before{
            background-image: url("/storage/icon/icon_right-circle.png");
        }
        .imgbox{
            border: none;
        }
    }
}

/*お知らせ新規投稿・投稿修正*
*******************************/
#adminNotice{
    .ttlBox{
        @include wrap_inner;
        margin-bottom: 20px;
        h2{
            @include font_head;
            font-size: 1.2em;
            margin-bottom: 5px;
        }
        p{
            color: $color_b_sub;
            font-size: 0.9em;
            white-space: pre-wrap;
        }
    }
    .noList{
        text-align: center;
        color: $color_b_sub;
        font-size: 0.9em;
    }
}
#adminNoticeList{
    margin-bottom: 50px;
    li{
        border-top: 1px solid $color_b_sub;
        padding: 10px 0;
        &:last-of-type{
            border-bottom: 1px solid $color_b_sub;
        }
        .inner{
            @include wrap_inner;
        }
        h3{
            @include font_head;
            margin-bottom: 5px;
            &:before{
                content: "※";
            }
        }
        pre{
            font-size: 0.9em;
            white-space: pre-wrap;
        }
        button{
            width: 60px;
            margin-left: auto;
            background-color: transparent;
            text-align: right;
            text-decoration: underline;
            font-size: 0.9em;
            display: block;
        }
    }
}

/*クリエイター情報詳細*
*******************************/
#adminCreatorDetail{
    margin-top: 50px;
}
#changeMonthlyPrice{
    margin-bottom: 50px;
    h2{
        @include font_head;
        font-size: 1.2em;
        margin-bottom: 10px;
        &+p{
            color: $color_b_sub;
        }
    }
    .monthly_priceBox{
        margin: 20px 0;
    }
}

/*管理者用＞運営者一覧*
*******************************/
.admins{
    #adminRegBtn{
        @include wrap_inner;
        margin: $mg*2 auto;
    }
}
#adminList{
    @include wrap_inner;
    li:not(:first-of-type){
        margin-top: 20px;
    }
    a{
        display: block;
        position: relative;
        padding-right: 30px;
        &:before{
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            display: block;
            width: 24px;
            height: 24px;
            background: url("/storage/icon/icon_right-circle.png") no-repeat center/cover;
        }
        .name{
            font-size: 1.2em;
            @include font_head;
        }
        .txtLink{
            font-size: 0.9em;
            color: $color_b_sub;
            text-decoration: underline;
        }
    }
}
