
/*normalTitleBox*
*******************************/
.normalTitleBox{
    text-align: center;
    margin-bottom: 40px;
    h2{
        @include font_head;
        font-size: 1.2em;
    }
    p{
        margin-top: 10px;
        line-height: 2;
        font-size: 0.9em;
    }
    .btn{
        margin-top: 30px;
    }
}

/*topPage*
*******************************/
.topPage{
    #contentWrap {
        @include grade;
        .title{
            color: #fff;
            .logo{
                filter: brightness(0) invert(1);
            }
        }
        ul {
            @include wrap_inner;
        }
    }
    #footer{
        color: #fff;
    }
}

/*login*
*******************************/
.login{
    #contentWrap {
        .formBox{
            @include wrap_inner;
            color: #fff;
        }
        .saveCheck{
            padding: 2px 0;
            text-align: left;
        }
        .linkBox{
            .noLink{
                text-align: left;
            }
            p{
                padding-top: 10px;
            }
            a{
                text-decoration: underline;
            }
        }
        &.fan{
            @include grade($color_f_g1,$color_f_g2);
            .title{
                color: $color_f;
            }
            .btn{background-color: $color_f; color: #fff;}
        }
        &.creator{
            @include grade($color_c_g1,$color_c_g2);
            .title{
                color: $color_c;
            }
            .btn{background-color: $color_c; color: #fff;}
        }
        &.admin{
            @include grade($color_a_g1,$color_a_g2);
            .title{
                color: $color_a;
            }
            .btn{background-color: $color_a; color: #fff;}
        }
    }
    #footer{
        color: #fff;
    }
}

/*クリエイター露出ページ*
*******************************/
#bottomPost {
    background-color: $color_c_bk;
    .inner{
        @include wrap_s;
        @include flex;
        @include ac;
    }
    .nameBox {
        .price {
            font-size: 0.9em;
        }
    }
    .btnCircle{
        flex: 1;
        max-width: 150px;
        margin-left: auto;
    }
}

/*新規会員登録*
*******************************/
#stepBox {
    margin: 40px 0 60px;
    .normalTitleBox{
        margin-bottom: 60px;
    }
    ol{
        margin-top: 20px;
        @include flex;
        @include js;
        width: 80%;
        max-width: 340px;
        margin: 0 auto;
        counter-reset: step;
        position: relative;
        &:before{
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            background-color: $color_f_sub;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
    li{
        position: relative;
        z-index: 1;
        font-size: 11px;
        p{
            position: absolute;
            top: -38px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $color_b_sub;
            color: #fff;
            padding: 3px 10px;
            border-radius: 15px;
            white-space: nowrap;
            opacity: 0;
            &:before{
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8px 6px 0 6px;
                border-color: $color_b_sub transparent transparent transparent;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%,100%);
            }
        }
        &:after{
            display: block;
            counter-increment: step;
            content: counter(step);
            width: 24px;
            height: 24px;
            line-height: 23px;
            background-color: $color_f_sub;
            color: #fff;
            border-radius: 50%;
            text-align: center;
        }
        &.active{
            p{
                opacity: 1;
            }
            &:after{
                background-color: $color_f;
            }
        }
    }
}
/* Overrides birth_date */
.vdatetime-popup__header,
.vdatetime-calendar__month__day--selected > span > span,
.vdatetime-calendar__month__day--selected:hover > span > span{
    background-color: $color_f !important;
}
.vdatetime-popup__actions__button{
    color: $color_f !important;
}

/*固定ページ*
*******************************/
.helpBox{
    padding-bottom: 50px;
    h1,h2,h3,p,dt,dd{
        padding-left: 5%;
        padding-right: 5%;
    }
    h1,h2,h3{
        @include font_head;
    }
    h1{
        font-size: 1.4em;
    }
    h2{
        margin-top: 35px;
        font-size: 1.1em;
        background-color: $color_b_bk;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    h3 {
        margin-top: 30px;
    }
    p{
        margin-top: 10px;
        line-height: 1.8;
    }
    dt,dd {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    dt{
        background-color: $color_f_bk;
        margin-top: 10px;
        padding-right: 50px;
        padding-right: calc(5% + 30px);
        position: relative;
        &:after{
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            background: url("/storage/icon/icon_close.png") no-repeat center/cover;
            position: absolute;
            top: 50%;
            right: 5%;
            transform: translateY(-50%) rotate(45deg);
        }
        &.active{
            &:after {
                transform: translateY(-50%) rotate(0);
            }
        }
    }
    dd{
        display: none;
        a{
            text-decoration: underline;
        }
    }
}
