
/*新規投稿・投稿修正*
*******************************/
#postCreate{
    @include wrap_inner;
    .post{
        @include flex;
        @include fw;
        li{
            width: 49%;
            margin-bottom: 2%;
            &:nth-of-type(2n){
                margin-left: 2%
            }
        }
    }
}

