
/*新規投稿・投稿修正*
*******************************/
#postCreate{
    @include wrap_inner;
    .post{
        @include flex;
        @include fw;
        li{
            width: 49%;
            margin-bottom: 2%;
            &:nth-of-type(2n){
                margin-left: 2%
            }
        }
    }
}

/*プロフィール修正*
*******************************/
#profileEditImg{
    position: relative;
    input{
        display: none;
    }
    label{
        cursor: pointer;
        display: block;
        margin: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color_c_bk;
        &:after{
            content: "";
            display: block;
            width: 34px;
            height: 34px;
            background: url("/images/icon_camera.png") no-repeat center/cover;
            position: absolute;
        }
    }
    img{
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .background_img{
        position: relative;
        padding-bottom: 46%;
        overflow: hidden;
        label{
            &:after {
                bottom: 10px;
                right: 20px;
            }
        }
    }
    .profile_img{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,50%);
        width: 36%;
        height: 78%;
        border-radius: 50%;
        border: 3px solid $color_c_sub;
        overflow: hidden;
        label{
            &:after {
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
}
.profileEdit .normalFormBox{
    width: 100%;
    max-width: none;
}
#profileEditText{
    padding-top: 23%;
    background-color: #fff;
    dd>a{
        text-align: right;
        margin-top: 10px;
        display: block;
        color: $color_b_sub;
        text-decoration: underline;
    }
    .nav-link{
        text-align: left;
        padding: 10px 0 0;
        &:before{
            content: "";
            display: inline-block;
            width: 30px;
            height: 30px;
            vertical-align: -8px;
            margin-right: 10px;
            background: url("/storage/icon/icon_add.png") no-repeat center/80% $color_c_sub;
        }
    }
}
#instruction {
    width: 100%;
    height: 200px;
    overflow: scroll;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.7) !important;
    border: 1px solid $color_b_sub2;
    background-color: #fff;
    a{
        color: $color_c;
        text-decoration: underline;
    }
}
#add_link{
    .modal-content{
        background-color: #fff;
        padding: 0 5%;
    }
}
