
/*マイページ*
*******************************/
/*お知らせ*/
#infoBox{
    li{
        color: $color_c;
        background-color: $color_c_bk;
        &:nth-of-type(even){
            background-color: #eedee1;
        }
        .ttl,.txt{
            @include wrap_inner;
        }
        .ttl{
            padding: 8px 0 ;
            position: relative;
            cursor: pointer;
            &:before{
                content: "※";
            }
            &:after{
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                background: url("/storage/icon/icon_close_pi.png") no-repeat center/cover;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%) rotate(45deg);
                transition: all 0.4s;
            }
            &.active{
                &:after {
                    transform: translateY(-50%) rotate(0);
                }
            }
        }
        .txt{
            font-size: 0.9em;
            white-space: pre-wrap;
            padding-bottom: 10px;
            display: none;
        }
    }
}
/*お知らせ*/
#memberCard{
    margin-top: $mg*2;
    .inner{
        @include wrap_inner;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
        overflow: hidden;
        text-align: center;
    }
    h2{
        background-color: $color_f_sub;
        color: #fff;
        font-size: 1.1em;
        padding: 10px 0;
        @include font_head;
    }
    .box{
        padding: 20px 0;
        p:nth-of-type(2){
            color: $color_b_sub;
            font-size: 0.8em;
        }
    }
    .id{
        @include font_head;
        font-size: 1.3em;
        &:before{
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            background: url("/storage/icon/icon_user.png") no-repeat center/cover;
            margin: 0 auto 5px;
        }
    }
}

/*ファンクラブ詳細*
*******************************/
.fanclub{
    dt,dd {
        padding-left:5%;
        padding-right:5%;
    }
    dt{
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $color_b_bk;
        @include font_head;
        font-size: 1.2em;
    }
    dd{
        padding-top: 20px;
        padding-bottom: 50px;
        .methods{
            margin-bottom: 20px;
            span{
                display: block;
                color: $color_b_sub;
                font-size: 0.9em;
                margin-top: 5px;
            }
        }
    }
    .removeLink{
        margin-bottom: 30px;
        text-align: right;
        a{
            color: $color_b_sub;
            text-decoration: underline;
        }
    }
}

/*ファンクラブ退会*
*******************************/
.removeBox{
    .formBox.normalFormBox{
        max-width: none;
        width: 100%;
        dl{
            @include wrap_s;
        }
        .btnBox{
            @include wrap_inner;
        }
    }
    h1,h2,h3{
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 20px;
        @include font_head;
        &+p{
            padding-left: 5%;
            padding-right: 5%;
            margin-bottom: 40px;
        }
    }
    h1{
        font-size: 1.4em;
    }
    h2{
        margin-top: 35px;
        font-size: 1.1em;
        background-color: $color_b_bk;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .txtBox{
        background-color: $color_c_bk;
        color: $color_c;
        padding: 20px 5%;
        margin: 40px 0 20px;
    }
    .imgbox{
        @include flex;
        @include ac;
        @include wrap_s;
        margin-bottom: 40px;
        .thumbnail{
            width: 80px;
            height: 80px;
            margin-right: 15px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            img{
                display: block;
                width: 100%;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
        .txt{
            flex: 1;
            .name{
                @include font_head;
                font-size: 1.2em;
            }
            .price{
                font-size: 0.9em;
            }
        }
    }
}
